body {
    font-family: Arial, sans-serif;  
}
.container {
    width: 940px;
    padding: 0 30px; 
}
h1 {
    color: #3D3D3D; 
    background-color: #E1EDF2; 
    padding: 10px;
}

h2, h3, h4 { 
    border-bottom: 2px solid #3D3D3D;
}

figure {
    text-align: center;
    background-color: whitesmoke; 
    color: lightgrey; 
    width: 850px;
    height: 630px;
    padding: 15px; 
    margin: 30px auto; /* Margem superior, inferior e automática para centralizar */
   
}
figcaption {
    padding: 10px; /* Afastamento da legenda da imagem */
}
img{
    width: 848px;
    height: 601px;
}